<div class="contact-list">
	<ul class="contact-info">
		<li>
			<div class="icon">
				<div class="email-icon"></div>
			</div>
			parkhousedarrell7@gmail.com
		</li>

		<li>
			<div class="icon">
				<div class="phone-icon"></div>
			</div>
			(123) 456-7890
		</li>

	</ul>

	<ul class="social-list">
		<li>
			<div class="icon">
				<div class="instagram-icon"></div>
			</div>
		</li>
		<li>
			<div class="icon">
				<div class="facebook-icon"></div>
			</div>
		</li>

		<li>
			<div class="icon">
				<div class="twitter-icon"></div>
			</div>
		</li>

		<li>
			<div class="icon">
				<div class="tiktok-icon"></div>
			</div>
		</li>
	</ul>
</div>
