@import "vars";

@function px-to-rem($value) {
	$result: calc($value / 16) * 1rem;
	@return $result;
}

// q: what does the above function do?
// a: it converts px to rem

@mixin mobile {
	@media (max-width: $phone-size) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: $tablet-size) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-size) {
		@content;
	}
}

@mixin lg-desktop {
	@media (min-width: $lg-desktop) {
		@content;
	}
}

@mixin xl-desktop {
	@media (min-width: $xl-desktop) {
		@content;
	}
}

@mixin uhd-desktop {
	@media (min-width: $uhd-desktop) {
		@content;
	}
}

@mixin font-color($color) {
	color: $color;
}

@mixin font-size($size) {
	font-size: px-to-rem($size);
}

@mixin line-height($height) {
	line-height: px-to-rem($height);
}

@mixin flex() {
	display: flex;
}

@mixin reset-link() {
	text-decoration: none;
	color: inherit;
}

@mixin unstyled-list() {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin pull-right() {
	margin-left: auto;
}

@mixin pull-left() {
	margin-right: auto;
}

@mixin font-weight($weight) {
	font-weight: $weight;
}

@mixin set-font($font) {
	font-family: $font;
}
