$phone-size: 375px;
$tablet-size: 768px;
$desktop-size: 1440px;
$lg-desktop: 1920px;
$xl-desktop: 2560px;
$uhd-desktop: 3840px;

$heading-font: 'Josefin Sans', sans-serif;
$base-font-family: 'Poppins', sans-serif;

$clr-heading-text: #000201;
$clr-discount-text: #FF1617;
$clr-base-border: #D9D9D9;
$clr-order-summary-bg: #F8F8F8;
$clr-dark-border-bottom: #000201;
$clr-primary: #265E55;
$clr-light-text: #fff;
