<div class="order-summary-card">
	<div class="card-header">
		<h2 class="card-title">your order</h2>
	</div>
	<ul class="items-list">
		<li class="item">
			<div class="left">
				<div class="name">complete set of sofa...</div>
			</div>
			<div class="right">
				<div class="price">$75</div>
			</div>
		</li>

		<li class="item">
			<div class="left">
				<div class="name">teak wood chair 1x</div>
			</div>
			<div class="right">
				<div class="price">024</div>
			</div>
		</li>
	</ul>

	<ul class="sub-total">
		<li class="item">
			<div class="left">
				<div class="name">sub total</div>
			</div>
			<div class="right">
				<div class="price">$99</div>
			</div>
		</li>

		<li class="item">
			<div class="left">
				<div class="name">discount</div>
			</div>
			<div class="right">
				<div class="discount-price">029.70</div>
			</div>
		</li>
	</ul>

	<ul class="total">
		<li class="item">
			<div class="left">
				<div class="name">total</div>
			</div>
			<div class="right">
				<div class="price">$69.30</div>
			</div>
		</li>
	</ul>
<!--	<button class="primary-full-width">place order</button>-->
<!--	<ng-primary-full-width-btn></ng-primary-full-width-btn>-->
<!--	<ng-primary-btn>place order</ng-primary-btn>-->
	<ng-primary-btn>place order</ng-primary-btn>
</div>
